<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-3">
      <div class="inner">
        <h3 class="masthead-brand">TiTaTo</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link " href="">UserName</a>

        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading mb-5">
        <img src="images/avatar2.svg" alt="" class="" height="100px" width="100px">
      </h1>




      <p class="lead">
        <!--         <img src="images/redb.png" alt=""  class="mr-2 mt-2" height="80px" width="80px">-->
        <a href="#"  id="myBtn" class=" "><img src="images/newgame.png" alt="" class=""  height="100px" width="100px"></a>

      </p>
      {{!-- <p class="lead mb-3">or </p> --}}


<div class="my-3 p-3 bg-black rounded shadow-sm">
  <p class="lead mb-3">or </p>
        <h4 style="border-bottom: dashed; border-color: #e8b46a " class="  pb-2 mb-0">Join Active Games</h4>
            <div class="media  pt-3">
        <img src="images/avatar2.svg" alt="" class="mr-2 mt-2" height="50px" width="50px">
        <p class="media-body pb-3 mb-0 small lh-125  text-left" style="border-bottom: dashed; border-color: #e8b46a ">
            <strong>@username</strong>
            <a href="tictactoe3.html" class=" float-right  ">Join</a>
        </p>
    </div>
 <ul>
  {{#each gameusers}}
    
      {{> gameuser-block}}
  
  {{/each}}
</ul>
</div>



      <!--  Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="modal-body">

            <h2></h2>
            <h1 class="cover-heading mb-5">
              <img src="images/avatar2.svg" alt="" class="mr-0 mt-3" height="100px" width="100px">
            </h1>

            <div class="my-3 p-3 bg-black rounded shadow-sm">
              <!-- <h4 style="border-bottom: dashed; border-color: #e8b46a " class="  pb-2 mb-0">Active Games</h4> -->
              <div class="media  pt-3">
                <img src="images/avatar2.svg" alt="" class="mr-2 mt-2" height="50px" width="50px">
                <p class="media-body pb-3 mb-0 small lh-125  text-left" style="border-bottom: dashed; border-color: #e8b46a ">
                  <strong>Player 1</strong>
                  <a href="/" class=" float-right  ">You</a>


                </p>
              </div>
              <div class="media  pt-3">
                <img src="images/avatar2.svg" alt="" class="" height="50px" width="50px">
                <p class="media-body pb-3 mb-0 small lh-125  text-left " style="border-bottom: dashed; border-color: #e8b46a ">
                  <strong>Player 2</strong>
                  <a href="/" class=" float-right  ">Selecting</a>
              </div>
              <h1 class="cover-heading mb-5">
                  <a href="/" class=""> <img src="images/start.png" alt="" class="mr-2 mt-3" height="100px" width="100px"> </a>
                </h1>
            </div>
          </div>
          <!-- <div class="modal-footer">
          <h3>Modal Footer</h3>
        </div> -->
        </div>

      </div>
      <!-- end Modal  -->
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>&copy; 2018</p>
      </div>
    </footer>
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> --}}
  <script src="assets/js/vendor/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
