<li>
	
	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}

	  <div class="profile">
		    
                                <img src="assets/images/giphy.gif" alt="profile1">
                                
                                {{!-- <a href="#" class="delete-burger" data-id="{{this.id}}" ><h2>Clean It </h2></a> --}}
                                <h2>DATA Stored </h2>
                            </div>
         
                            <p class="page-inner ">{{burger_name}}</p>
							<hr style="width: 30%">
</li>
