<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">

        {{#if sleep}}Eat Me!{{/if}}
	</button>

	<div class="profile">
                                <img src="assets/images/giphy.gif" alt="profile1">
                                <h2>All Gone </h2>
                            </div>
         
                            <p class="page-inner ">humburger with cheese and salad and some other fat shit. </p>

</li>
