<li>
    <div class="media  pt-3">
        <img src="images/avatar2.svg" alt="" class="mr-2 mt-2" height="50px" width="50px">
        <p class="media-body pb-3 mb-0 small lh-125  text-left" style="border-bottom: dashed; border-color: #e8b46a ">
            <strong>{{username}}</strong>
            <a href="tictactoe3.html" class=" float-right  ">Join</a>
        </p>
    </div>
</li>